<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
  </head>
  <body>
  	<nav class="navbar navbar-expand-lg navbar-light bg-light">      
      <a class="navbar-brand mb-0 h1" href="{{ url_for('home') }}"><img src="/static/images/aqi.jpg"  width="100" height="100" >
        Air Quality Index
      </a>
      <ul class="nav ml-auto justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('input') }}">Input Heath Index</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('impact') }}">AQI Heath Impact</a>
        </li>
        
      </ul>
    </nav>
    <main role="main" class="container">
      {% block content %}{% endblock %}
    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script>
      (function() {
        $('#upload-submit').click(function(evt) {
          $('#upload-spinner').removeClass('d-none');
          return true;
        });
      })();
    </script>
    {% block scripts %}{% endblock %}
  </body>
</html>