{% extends 'base.html' %}

{% block content %}
<!doctype html>
<div class="text-center">
  <h1 class="mt-5">Search AQI for your City</h1>
  <p class="lead">Please enter a city and date to perform a search.</p>
  <form class="form-inline justify-content-center" method="post">
    <div class="form-row">
      <div class="col-auto">
        <input class="form-control mb-2" style="width:200px" name="City" id="City" 
        placeholder="City" value="{{ request.form['query'] }}"> 
        <input type="date" class="form-control mb-2" style="width:200px" name="date">
      </div>
      <div class="col-auto">
          <input class="btn btn-primary mb-2" type="submit" value="Search">
      </div>
      
      
    </div>


  </form>
<h1 class="mt-5">AQI is 28 </h1>
    <h1 class="mt-5"><font color="green">Air Quality is good! </font> </h1>
</div>
{% endblock %}
  