{% extends 'base.html' %}

{% block content %}
<!doctype html>
<div class="text-center">
  <h1 class="mt-5">Login</h1>
 
  <form class="form-inline justify-content-center" method="post">
    <div class="form-column">
      <div class="col-auto">
      	<label for="uname"><b>Username</b></label>
    	<input type="text" class="form-control mb-2" placeholder="Enter Username" name="uname" required>

    	<label for="psw"><b>Password</b></label>
    	<input type="password"  class="form-control mb-2" placeholder="Enter Password" name="psw" required>
        
      </div>
      <div class="col-auto">
          <input class="btn btn-primary mb-2" type="submit" value="Login">
      </div>
    </div>  
  </form>

</div>
{% endblock %}
