{% extends 'base.html' %}

{% block content %}
<!doctype html>
<div class="text-center">
  <h1 class="mt-5">Health Impact of AQI for your City</h1>
  <p class="lead">Please enter your city and date to know the number of people affected by Air Quality</p>
  <form class="form-inline justify-content-center" method="post">
    <div class="form-row">
      <div class="col-auto">
        <input class="form-control mb-2" style="width:200px" name="City" id="City" 
        placeholder="City" value="{{ request.form['query'] }}"> 
        <input type="date" class="form-control mb-2" style="width:200px" name="date">
      </div>
      <div class="col-auto">
          <input class="btn btn-primary mb-2" type="submit" value="Search">
      </div>
    </div>  
  </form>

</div>
{% endblock %}
  