{% extends 'base.html' %}

{% block content %}
<!doctype html>
<div class="text-center">
  <h1 class="mt-5">How are you feeling today?</h1>
  <p class="lead">Please enter your city,date and health index to provide your input </p>
  <form class="form-inline justify-content-center" method="post">
    <div class="form-row">
      <div class="col-auto">
        <input class="form-control mb-2" style="width:200px" name="City" id="City" 
        placeholder="City" value="{{ request.form['query'] }}"> 
        <input type="date" class="form-control mb-2" style="width:200px" name="date">
        <select name="cars" class="form-control mb-2">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
      </div>
      <div class="col-auto">
          <input class="btn btn-primary mb-2" type="submit" value="Submit">
      </div>
    </div>  
  </form>

</div>
{% endblock %}
  